table{
    width: 100%;
    border: 0px transparent black;
    
    
    
}

table tr th,
table tr td{
    text-align: left;
    font-size: 20px;
    padding-bottom: 10px;
    padding: 10px;
    
}

table tr th{
    background-color: #d6336a;
    border-radius: 10px;
    color:black;

}
