/*
white: #fbf9fa
light-red: #fd0054
red: #a80038
black: #2b2024
*/

main h1{
	font-size: 35px;
	color: #a80038;
}

.content{
	display: flex;
	align-items: top;
	justify-content: center;	
}

.content img{
	width: 300px;
	height: 500px;
	padding-left: 20px;
}

.content p{
	font-size: 26px;
	line-height: 34px;
	color: #000000;
}

 
main{
	padding: 30px;
}

.goNext{
	outline: 0px;
	border: 0px;
	filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
	width: 189px;
	height: 50px;
	font-weight: bold;
	background-color: #fbf9fa;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	color: #fd0054;
	border: 1px solid #fd0054;
	border-radius: 4px;
}

.nextButton{
	display: flex;
	align-items: top;
	justify-content: flex-end;
	padding-top: 20px;
}
