/*
white: #fbf9fa
light-red: #fd0054
red: #a80038
black: #2b2024
*/
h1{
	color: #a80038;
	font-size: 30px;
}

.lessons{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}

.lesson{
	text-align: left;
	margin: 10px;
	font-size: 15px;
	background-color: #fbf9fa;
	border-radius: 4px;
	width: 90%;
	box-shadow: 4px 4px 4px rgba(168, 0, 56, 0.25);
}

.lesson a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: 0px;
	color: #fd0054;
}

.lesson a:active {
	color: #fd0054;
}

.lesson:hover{
	box-shadow: none;
}

.lesson a i{
	font-size: 25px;
	padding-right: 10px;
}
.lesson a h2{
	padding-left: 10px;
}

