body{
	font-family: 'Ubuntu Condensed', serif;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #387ADF;
	width: 100%;
}

.navbar nav{
	padding-right: 15px;
}
.navbar > h3{
	padding: 15px; 
	color: #FCE850;
	font-size: 20px;
	border-radius: 4px;
}

.navbar a{
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	margin: 5px;
	color: #FCE850;
	border:2px solid #50C4ED;
	border-radius: 4px;
	box-shadow: 7px 5px 25px -6px rgba(0,0,0,0.74);
}

.navbar a:active{
	color:#FCE850;
}


.footer{
	height: 50px;
	background-color: #387ADF;
	margin-top: 40px;
}
